{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container w-75 mx-auto">
        <h1 class="text-center">Dashboard</h1>
        <div class="row">
            <div class="col">
                <h2>My Groups</h2>
                {% if user_groups %}
                    <ul>
                        {% for group in user_groups %}
                            <li id="my-groups-info">
                                <a href="#" class="d-block"><h3>{{ group.group_name }}</h3></a>
                                {{ group.subject_name }} - Section {{ group.section_code }}
                                <p>Last Activity: 05/28/1453</p>
                                <p>Next meeting on 05/29/1453</p>
                                <a href="#">Zoom Link</a>
    
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>You have no current groups.</p>
                {% endif %}
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <h2>Other Groups</h2>
                <!-- If other groups exist for the user's enrolled classes... -->
                {% if available_groups %}
                    <ul>
                        <!-- Iterate over the classes that have groups that the user is enrolled in. -->
                        {% for group in available_groups %}
                            <li>
                                <!-- Define the form to iterate over the user's enrolled classes and the existing groups that are in those classes. -->
                                <form action="/join-request" method="POST">
                                    <h4>{{ group.subject_name }} - Section {{ group.section_code }}</h4>
                                    <input type="radio" id="group-{{ group.group_id }}" name="group" value="{{ group.group_id }}">
                                    <label for="group-{{ group.group_id }}">{{ group.group_name }}</label><br>
                                </form>
                            </li>                         
                        {% endfor %}
                        <input class="btn btn-primary btn-success mt-3" type="submit" value="Request to Join Group">
                    </ul>
                {% else %}
                    <p>No other groups exist for your classes.</p>
                {% endif %}
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <h2>Create A Group</h2>
                <!-- Select a class/section combo to create a group. -->
                {% if user_enrollments %}
                    <ul>
                        <form class="ml-5" id="create-group-form" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <label for="section">Select Class/Section to Create Group:</label>
                            <div>
                                {% for enrollment in user_enrollments %}
                                    <input type="radio" id="section-{{ enrollment.section_id }}" name="section" value="{{ enrollment.section_id }}"
                                    {% if enrollment.has_group %} disabled {% endif %}
                                    {% if loop.first and not enrollment.has_group %} checked {% endif %}>
                                    <label class="d-inline" for="section-{{ enrollment.section_id }}">
                                        {{ enrollment.subject_name }} - Section {{ enrollment.section_code }}
                                        {% if enrollment.has_group %} (Group already created) {% endif %}
                                    </label><br>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary btn-success mt-3" type="submit" value="Create Group" class="btn btn-primary">
                            </div>
                        </form>
                    </ul>
                    
                {% else %}
                    <p>You are not enrolled in any courses to create a group.</p>
                {% endif %}
            </div>
        </div>
        
    

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the form and radio buttons
            const form = document.querySelector('#create-group-form');
            const radioButtons = document.querySelectorAll('input[name="section"]');
            
            // Set initial form action based on the pre-selected section (not doing this causes issues)
            const selectedSectionId = document.querySelector('input[name="section"]:checked').value;
            form.action = "/create-group/" + selectedSectionId;
    
            // Update form action section id when a radio button is selected
            radioButtons.forEach(button => {
                button.addEventListener('change', function () {
                    form.action = "/create-group/" + this.value;
                });
            });
        });
    </script>
    
    
{% endblock %}